
@import 'scss/_variables.scss';
@import 'scss/_icons.scss';

body {
  background-color: $main-bg-color;
}

.ilb {
  display: inline-block;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list .todo-list {
  padding-left: 20px;
}

.todo-row {
  svg {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  .expanded svg {
    transform: rotate(-180deg);
  }

  .todo-action {
    cursor: pointer;
  }
}
