
@import 'scss/_variables.scss';
@import 'scss/_icons.scss';

body {
  background-color: $main-bg-color;
}

.ilb {
  display: inline-block;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list .todo-list {
  padding-left: 20px;
}

.todo-action {
  cursor: pointer;
}
