
body {
  background-color: $main-bg-color;
}

.ilb {
  display: inline-block;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.pointer {
  cursor: pointer;
}
