
.todo-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-list .todo-list {
  padding-left: 20px;
}

.todo-row {
  margin: 20px 0;

  .expand-icon {
    font-size: 10px;
  }

  &:not(.expanded) {
    &>ul {
      @extend .hide;
      overflow: hidden;
    }
  }

  &.expanded {
    &>ul {
      @extend .show;
      overflow: hidden;
    }
  }

  .todo-action {
    cursor: pointer;
  }

  .display {
    @extend .pointer;
  }

  .input {
    .empty {
      svg {
        cursor: default !important;
        color: $gray !important;
      }
    }
  }

  &:not(.editing) > .todo-text {
    .display {
      @extend .show;
    }

    .input {
      @extend .hide;
    }
  }

  &.editing > .todo-text {
    .display {
      @extend .hide;
    }

    .input {
      @extend .show;
    }
  }
}
