.todo-header {
  .todo-action {
    font-size: 1rem;
  }
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.todo-list .todo-list {
  padding-left: 20px;
}

.todo-row {
  margin: 1rem 0 0 0;

  .expand-btn > svg {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .expand-icon {
    font-size: 1rem;
  }

  &:not(.expanded) {
    &>ul {
      @extend .hide;
      overflow: hidden;
    }
  }

  &.expanded {
    &>ul {
      @extend .show;
      overflow: hidden;
    }

    & > div > .expand-btn > svg {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }
  }
  
  .todo-action {
    cursor: pointer;
  }

  .display {
    @extend .pointer;
  }

  .input {
    .empty {
      svg {
        cursor: default !important;
        color: $gray !important;
      }
    }
  }

  &:not(.editing) > .todo-text {
    .display {
      @extend .show;
    }

    .input {
      @extend .hide;
    }
  }

  &.editing > .todo-text {
    .display {
      @extend .hide;
    }

    .input {
      @extend .show;
    }
  }
}
